@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 0 0% 3.9%; /* very dark grayish black */
    --card: 0 0% 100%; /* white */
    --card-foreground: 0 0% 3.9%; /* very dark grayish black */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 0 0% 3.9%; /* very dark grayish black */
    --primary: 111, 75%, 29%; /* dark green */
    --primary-foreground: 0 0% 98%; /*very light grayish white */
    --secondary: 0 0% 96.1%; /* very light gray */
    --secondary-foreground: 0 0% 9%; /* very dark gray */
    --muted: 0 0% 96.1%; /* very light gray */
    --muted-foreground: 0 0% 45.1%; /* dark gray */
    --accent: 0 0% 96.1%; /* very light gray */
    --accent-foreground: 0 0% 9%; /* very dark gray */
    --destructive: 0 84.2% 55.2%; /* light red */
    --destructive-foreground: 0 0% 98%; /* very light gray */
    --border: 0 0% 89.8%; /* light gray */
    --input: 0 0% 89.8%; /* light gray */
    --ring: 0 0% 3.9%; /* very dark grayish black */
    --chart-1: 12 76% 61%; /* orange */
    --chart-2: 173 58% 39%; /* blue */
    --chart-3: 197 37% 24%; /* purple */
    --chart-4: 43 74% 66%; /* green */
    --chart-5: 27 87% 67%; /* yellow */
    --radius: 0.5rem /* 8px */;
  }
  .dark {
    --background: 0 0% 3.9%; /* very dark grayish black */
    --foreground: 0 0% 98%; /* very light grayish white */
    --card: 0 0% 3.9%; /* very dark grayish black */
    --card-foreground: 0 0% 98%; /* very light grayish white */
    --popover: 0 0% 3.9%; /* very dark grayish black */
    --popover-foreground: 0 0% 98%; /* very light grayish white */
    --primary: 0 0% 98%; /* very light gray */
    --primary-foreground: 0 0% 9%; /* very dark gray */
    --secondary: 0 0% 14.9%; /* dark gray */
    --secondary-foreground: 0 0% 98%; /* very light gray */
    --muted: 0 0% 14.9%; /* dark gray */
    --muted-foreground: 0 0% 63.9%; /* light gray */
    --accent: 0 0% 14.9%; /* dark gray */
    --accent-foreground: 0 0% 98%; /* very light gray */
    --destructive: 0 62.8% 30.6%; /* red */
    --destructive-foreground: 0 0% 98%; /* very light gray */
    --border: 0 0% 14.9%; /* dark gray */
    --input: 0 0% 14.9%; /* dark gray */
    --ring: 0 0% 83.1%; /* light gray */
    --chart-1: 220 70% 50%; /* pink */
    --chart-2: 160 60% 45%; /* teal */
    --chart-3: 30 80% 55%; /* lime */
    --chart-4: 280 65% 60%; /* indigo */
    --chart-5: 340 75% 55% /* cyan */;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(#fff 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l4 1.2s infinite linear;
}
.loader:after {
  transform: scale(-1);
}
@keyframes l4 {
  0%,
  10% {
    background-position:
      33.4% 100%,
      66.6% 100%;
  }
  40% {
    background-position:
      33.4% 0,
      100% 100%;
  }
  70% {
    background-position:
      0 100%,
      66.6% 0;
  }
  100% {
    background-position:
      33.4% 100%,
      66.6% 100%;
  }
}

@layer utilities {
  .text-last-right {
    text-align-last: right;
  }

  .image-clamp {
    object-fit: cover;
    width: clamp(100px, 70%, 600px);
  }

  .linkHover {
    @apply hover:text-primary
    hover:border-b-2
    hover:border-primary
    active:text-primary
    active:border-b-2
    active:border-primary
    border-b-2 border-transparent;
  }
  .linkHoverSecondary {
    @apply hover:text-linkSecondary
    hover:underline
    active:text-linkSecondary
    active:underline
    /* border-b border-transparent ; */
  }

  .smoothScale {
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }

  .formField {
    @apply w-full 
    px-4 py-3 
    mt-2
    outline-none 
    border-2
    rounded-md 
    focus:border-2 focus:border-buttonPrimary 
    hover:border-buttonPrimary;
  }

  .authBox {
    @apply w-[330px] md:w-[550px]
    /* width: clamp(400px, 50%, 600px); */
  }

  .tag {
    @apply px-3 py-2
    rounded-md
    bg-accent
    text-accent-foreground
    text-xs
  }

  .verified {
    @apply px-2 py-1
    rounded-md
    bg-softGreen
    text-darkGray
    text-xs
  }

  .unverified {
    @apply px-2 py-1
    rounded-md
    bg-verySoftRed
    text-darkGray
    text-xs
  }

  .incomplete {
    @apply px-2 py-1
    rounded-md
    bg-softOrange
    text-darkGray
    text-xs
  }
}